{% extends 'twitter/layout.html' %}
{% load humanize %}
{% block content %}
<div id="main" class="container-fluid d-flex">
    <!-- Barra contactos -->
    <div class="sidebar m-5 d-none d-xl-block">

        <div class="card" style="width: 18rem;">
            <div class="card-header">
                Chats previos
            </div>
            <ul class="list-group list-group-flush">
                {% for contact in contacts %}
                <li class="list-group-item"><a href="{% url 'dmsP' contact %}"
                    style="text-decoration: none;color: #657787;">{{contact}}</a></li>
                {% endfor %}
                <li class="list-group-item"><a href=""
                        style="text-decoration: none;color: #657787;">Nuevo Chat</a></li>
            </ul>
        </div>
    </div>

    <!-- Zona de mensajes -->
    <div class="content">

        <!-- Tweets -->
        <div id="tweetCards">
            <!-- FOR LOOP HERE -->
            <div class="tweet-wrap" style="border-radius:20px">
                {% if actual_contact %}
                <div class="tweet-header">
                    <div class="tweet-header-info">
                        {{actual_contact}} <span> </span>
                        {% for message in messages %}
                            {% if actual_contact == message.1 %}
                            <div style="background: rgb(205, 248, 249); border-radius: 5px; border: none;" class="mensaje-enviado">
                                <p>{{message.1}} <span>{{message.0.Dia}}:{{message.2}}</span><br>
                                    {{message.0.Texto}}
                                </p>
                                {% if message.0.Contenido %}
                                <p>Enlace: {{message.0.Contenido}}</p>
                                {% endif %}
                                {% for link in message.0.Links %}
                                <p>Archivo: {{link}}</p>
                                {% endfor %}
                            </div>
                            {% else %}
                            <div style="background: rgb(221, 249, 230); border-radius: 5px; border: none;" class="mensaje-enviado">
                                <p>{{message.1}} <span>{{message.0.Dia}}:{{message.2}}</span><br>
                                    {{message.0.Texto}}
                                </p>
                                {% if message.0.Contenido %}
                                <p>Enlace: {{message.0.Contenido}}</p>
                                {% endif %}
                                {% for link in message.0.Links %}
                                <p>Archivo: {{link}}</p>
                                {% endfor %}
                            </div>
                            {% endif %}
                        
                        {% endfor %}

                    </div>
                </div>


                <div class="d-flex">

                    <!-- área escritura mensaje -->
                    <form class="col pr-0" method="post">
                        {% csrf_token %}
    
                        <textarea name="textArea" class="form-control w-200" id="contentsBox" placeholder="Escribe aquí tu mensaje" maxlength=300></textarea>
                        <textarea name="contenido" class="form-control w-200" id="contentsBox" placeholder="Agregar enlace" maxlength=100></textarea>
                        <div>
                            <div>
                                <textarea name="link1" class="form-control w-200" id="contentsBox" placeholder="Archivo 1" maxlength=100></textarea>
                                <textarea name="link2" class="form-control w-200" id="contentsBox" placeholder="Archivo 2" maxlength=100></textarea>
                            </div>
                            <div>
                                <textarea name="link3" class="form-control w-200" id="contentsBox" placeholder="Archivo 3" maxlength=100></textarea>
                                <textarea name="link4" class="form-control w-200" id="contentsBox" placeholder="Archivo 4" maxlength=100></textarea>
                            </div>
                        </div>
                        <div class="container d-flex" style="padding: 1rem 0 0 0;">
                            <div id="leftBtn">
                                <div id="charBadge" class="badge badge-pill badge-primary ml-2"
                                    style="display: flex;align-items: center;width: 50%;justify-content: center;">
                                    <div id="charCountArea">300</div>
                                </div>
                            </div>
    
                            <div id="rightBtn">
                                <button class="btn rounded-pill" style="width: 100%;">Send</button>
                            </div>
                        </div>
                    </form>
                    <!-- área escritura mensaje fin-->
    
                </div>
                {% else %}
                <div class="tweet-header">
                    <div class="tweet-header-info">
                        <h1>Selecciona un mensaje</h1>
                        Elige de tus conversaciones existentes, inicia una nueva ingresando el nombre en el link, o simplemente continúa con tu día :D
                    </div>
                </div>
                {% endif %}
            </div>
            
            <!-- FOR LOOP HERE -->

        </div>
        <!-- EndTweets -->


    </div>
    <!-- End Center -->


    
</div>
{% endblock content %}