{% extends 'twitter/layout.html' %}
{% block content %}

<div id="main" class="container-fluid d-flex">
    <div class="twitter-login-box">
        <br>
        <br>
        <div id="inputTweetArea" class="tweet-wrap2">
            <div class="d-flex">
                <div class="col-xs">
                    <!-- Image form -->
                    <img src="https://toppng.com/uploads/preview/roger-berry-avatar-placeholder-11562991561rbrfzlng6h.png" alt="" class="avator">
                    <!-- Formulario -->
                </div>
                <!-- Formulario -->
                <form method="post">
                    {% csrf_token %}
                    <div class="input-wrapper">
                        <span for="name-id">Nombre</span>
                        <input type='text' name='name' id='name-id' placeholder="{{user.Nombre}}" style="width: 500px;">
                    </div>
                    <div class="input-wrapper">
                        <span for="user-name-id">Username</span>
                        <input type='text' name='username' id='user-name-id' placeholder="{{user.Usuario}}">
                    </div>
                    <div class="input-wrapper">
                        <span for="password-id">Password</span>
                        <input type='text' name='password' id='password-id' placeholder="{{user.Password}}">
                    </div>
                    <div class="input-wrapper">
                        <span for="desc-id">Descripcion</span>
                        <input type='text' name='descripcion' id='desc-id' placeholder="{{user.Descripcion}}">
                    </div>
                    <div class="input-wrapper">
                    </div>

                    <button class="twitter-btn">Actualizar</button>
                </form>
                <!-- Formulario -->

            </div>
        </div>
    </div>
    <!-- End Center -->
</div>

{% endblock content %}