{% extends 'twitter/layout.html' %}
{% load humanize %}
{% block content %}
<!-- Center -->
<div id="main" class="container-fluid d-flex">
    <div class="content">
        <!-- Notificaciones -->
        {% for notification in notifications %}
        <div id="tweetCards">
            <!-- FOR LOOP HERE -->
            <div class="tweet-wrap" style="border-radius:20px">
                <div class="tweet-header">
                    <img src="https://toppng.com/uploads/preview/roger-berry-avatar-placeholder-11562991561rbrfzlng6h.png"
                        alt="" class="avator">
                    {% if not show %}
                    <div class="tweet-header-info">
                        <span>{{ notification.Fecha | naturaltime}}</span>
                        {% if notification.Tipo == 'follow' %}
                        <h3>{{ notification.UserMencionado }} ha empezado a seguirte!</h3>
                        {% elif notification.Tipo == 'mention'%}
                        <h3>{{ notification.UserMencionado }} te ha mencionado en un tweet!</h3>
                        {% elif notification.Tipo == 'retweet'%}
                        <h3>{{ notification.UserMencionado }} ha retweeteado uno de tus tweets</h3>
                        {% elif notification.Tipo == 'comment'%}
                        <h3>{{ notification.UserMencionado }} ha comentado uno de tus tweets</h3>
                        {% elif notification.Tipo == 'like'%}
                        <h3>{{ notification.UserMencionado }} le ha dado like a uno de tus tweets</h3>
                        {% endif %}
                        {% if not notification.Visto %}
                           <a href="{% url 'notificationsB' notification.Tipo notification.UserMencionado %}">Ver notificacion</a>
                        {% endif %}
                    </div>
                    {% else %}
                    <div class="tweet-header-info">
                        <span>{{ notification.Fecha | date:"d-m-Y" }}</span>
                        <span>
                            {% if notification.Hora|date:"G" >= 12 %}
                            {{ notification.Hora | date:"H:i" }} PM
                            {% else %}
                            {{ notification.Hora | date:"H:i" }} AM
                            {% endif %}
                         </span>
                        {% if notification.Tipo == 'follow' %}
                        <h3>{{ notification.UserMencionado }} ha empezado a seguirte!</h3>
                        {% elif notification.Tipo == 'mention'%}
                        <h3>{{ notification.UserMencionado }} te ha mencionado en un tweet!</h3>
                        {% elif notification.Tipo == 'retweet'%}
                        <h3>{{ notification.UserMencionado }} ha retweeteado uno de tus tweets</h3>
                        {% elif notification.Tipo == 'comment'%}
                        <h3>{{ notification.UserMencionado }} ha comentado uno de tus tweets</h3>
                        {% elif notification.Tipo == 'like'%}
                        <h3>{{ notification.UserMencionado }} le ha dado like a uno de tus tweets</h3>
                        {% endif %}
                        <span>
                            {% if not notificacion.Trending %}
                               Este mensaje no corresponde a un trending
                            {% else %}
                                Este mensaje corresponde a un trending
                            {% endif %}
                        </span>  
                    </div>
                    {% endif %}
                </div>
            </div>
            <!-- FOR LOOP HERE -->
        </div>
        {% endfor %}
        <!-- EndNotificaciones -->
    </div>
    <!-- Barra Derecha -->
    {% if notificacionSeleccionada %}
    <div class="sidebar m-5 d-none d-xl-block">
        <div class="card" style="width: 18rem;">
            <div class="card-header">
                Información adicional
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a style="text-decoration: none;color: #657787;">
                        Notificaciones
                    </a>
                </li>
                <li class="list-group-item">
                    <a style="text-decoration: none;color: #657787;">
                        Notificaciones
                    </a>
                </li>
                <li class="list-group-item">
                    <a style="text-decoration: none;color: #657787;">
                        Notificaciones
                    </a>
                </li>
            </ul>
        </div>
    </div>
    {% endif %}
</div>
<!-- End Center -->

{% endblock content %}